@import 'bootstrap.min.css';
@import 'slick.css';
@import 'slick-theme.css';
@import 'nouislider.min.css';
@import 'font-awesome.min.css';
@import 'style.css';

body {
    height: 500px;
}

.demo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
#msg {
    width: 245px;
}
}

.toast-it {
    background-color: #555555;
    color: #F4F4F4;
    padding: 3px 20px;
    border-radius: 20px;
    text-align: center;
    position: fixed;
    /* center horizontally */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);

    animation-name: TOAST-APPEAR;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}

@keyframes TOAST-APPEAR {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    80% {
        opacity: 1;
        top: 80%;
    }
    100% {
        opacity: 0;
        top: 40%;
    }
}


i.fa {
    margin-right: 5px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .pannier-account {
        position: fixed;
        bottom: 0px;
        background: #fff;
        left: 0;
        right: 0;
        padding: 0 25px;
        z-index: 99999;
    }
    .pull-logo {
        text-align: center;
    }
    .pull-logo .header-logo img{
        width: 100px;
    }
    .header-search, #breadcrumb {
        width: 100% !important;
    }
    header {
        position: inherit!important;
    }
    #header .header-search{
        padding: 5px 0 !important;
    }
    #header {
    padding: 0!important;
    }
}


body {
    background-color: #f2f2f2 !important;
    font-family: 'Poppins', Verdana, sans-serif !important;
}
h1, h2, h3, h5, h6 {
    font-family: 'Poppins', Verdana, sans-serif !important;
}
.menu-nav .menu-list>li>a {
    display: block;
    padding: 15px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}
header {
    box-shadow: 0 12px 30px 0 rgba(0,0,0,0.07);
    background: #fff;
    border-radius: 5px;
    position: sticky;
    top: 0;
    z-index: 99998;
    transition: all 1s;
}
.product-body {
    text-align: center;
}
#navigation, #breadcrumb {
    margin: 0 auto;
    width: 72%;
    padding: 0;
    background: #fff;
}
#navigation > .container {
    margin: 0!important;
    padding: 0!important;
}
.product-details .slick-list, #product-view{
    background: #fff;
    border-radius: 15px;
}
.account {
    background: #fff;
    border-radius: 15px;
    padding: 15px;
}
.wlinkbutton:hover{
    background-color: #46c47a;
}
.ui-autocomplete-container {
    overflow: auto;
    position: absolute;
    padding: 10px 20px;
    background: #fff;
    z-index: 999;
    width: calc(100% - 30px);
}

.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #47cde3;
    border-color: #47cde3;
}
.panel-info>.panel-heading a, .panel-success>.panel-heading a{
    color: #fff
}
.panel-success>.panel-heading {
    color: #ffffff;
    background-color: #45e0b4;
    border-color: #45e0b4;
}
.ui-autocomplete  li {
    display: flex;
    cursor: pointer;
    padding: 10px;
    background: #fff
}
.ui-autocomplete  li span:nth-child(1){
    flex-grow: 1
}
.header-search>form .search-input {
    padding-left: 15px !important;
}
.description {
    background: #fff;
    padding: 30px 10px 15px;
    border-radius: 15px;
}
.page-header:not(.card) h3 i {
    font-size: 5em;
    padding-bottom: 10px
}
.page-header:not(.card) h3 {
    background: #46e4b8;
    padding: 30px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 700px;
    border-radius: 15px;
}
.product.product-single .product-name {
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.flags {
    position: absolute;
    left: 25px;
    z-index: 999;
    top: 25px;
}
.products .product {
    background: #fff;
    margin: 15px 0;
    border-radius: 15px;
    position: relative;
}
.header-search {
    width: 50%;
}
.ui-textbox input{
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.checkout-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid #eee;
}
.checkout-container .name i{
    position: absolute;
    right: 0;
    color: #e91e63
}
.checkout-container > div {
    flex-grow: 1;
}
.checkout .checkout-controls {
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
    align-items: center;
}
.checkout-summarize {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 ;
}
.checkout-summarize b{
    font-size: 20px;
}
.count input {
    width: 100%;
    height: 30px;
    padding: 0px 15px;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

button[disabled]{
    background: #ddd;
}
.ui-checkbox {
    margin-bottom: 5px;
    line-height: 10px;
    font-size: 12px
}

.ui-checkbox span {
    cursor: pointer;
    vertical-align: middle
}

.ui-checkbox div {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #E0E0E0;
    margin-right: 6px;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    font-size: 11px;
    text-align: center;
    padding: 1px 0 0 1px;
    background-color: white;
    border-radius: 3px
}

.ui-checkbox .fa {
    display: none
}

.ui-checkbox-checked div {
    background-color: #017CCA;
    border-color: #017CCA
}

.ui-checkbox-checked .fa {
    display: block !important
}

.ui-checkbox.ui-disabled div {
    background-color: #F0F0F0 !important;
    border-color: #E0E0E0 !important;
    color: gray !important
}


.ui-textarea {
    border: 1px solid #E0E0E0;
    padding: 4px 5px;
    border-radius: 2px;
    position: relative;
    display: block;
    width: 100%;
    background-color: white
}

.ui-textarea textarea {
    border: 0;
    width: 100%;
    outline: 0;
    font: normal 14px Arial;
    color: black;
    resize: none;
    min-height: 50px;
    background-color: white;
    padding: 0
}

.ui-textarea-label {
    margin-bottom: 5px;
    font-size: 12px;
    text-align: left
}

.ui-textarea-label .fa {
    margin-right: 5px
}

.ui-textarea-label-required {
    font-weight: bold
}

.ui-textarea-label-required:before {
    color: red;
    content: '***';
    margin-right: 5px
}

.ui-textarea-invalid {
    border-color: #E7B8B8 !important;
    background-color: #FFF3F3 !important
}

.ui-textarea-invalid textarea {
    background-color: #FFF3F3 !important
}

.ui-textarea-monospace textarea {
    font-family: monospace;
    font-size: 14px
}

.ui-textarea-helper {
    margin-top: 8px;
    font-size: 11px;
    color: red;
    text-align: left;
    display: none
}

.ui-textarea-helper-show {
    display: block
}

.ui-disabled.ui-textarea {
    background-color: #F0F0F0;
    cursor: not-allowed
}

.ui-disabled.ui-textarea textarea {
    background-color: #F0F0F0
}


.ui-dropdown-values {
    position: relative;
    display: block;
    height: 29px;
    text-align: left
}

.ui-dropdown {
    border: 1px solid #E0E0E0;
    padding: 0 5px 0 10px;
    border-radius: 2px;
    outline: 0;
    height: 29px;
    overflow: hidden;
    float: left;
    width: 100%;
    background-color: white;
    position: relative
}

.ui-dropdown select {
    width: 100%;
    outline: 0;
    border: 0;
    height: 24px;
    background: white url(data:image/gif;base64,R0lGODdhEAAQAKIAAAAAABwcHCQkJJWVlZWVldvb2+Tk5AAAACH5BAEAAAcALAAAAAAQABAAAAMveLrcrsY8V0Ioc1UAbt5ch1FBGHrNIKzsOmRwPKkt+zagieLlOT6g3aQizERksQQAOw==) no-repeat 100% 50%;
    background-size: 12px;
    font-size: 14px;
    float: left;
    cursor: pointer;
    padding: 0;
    margin: 2px 0 0 -3px;
    color: black;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none
}

.ui-dropdown-label {
    margin-bottom: 5px;
    font-size: 12px
}

.ui-dropdown-label .fa {
    width: 14px
}

.ui-dropdown-label-required {
    font-weight: bold
}

.ui-dropdown-label-required:before {
    color: red;
    content: '***';
    margin-right: 5px
}

.ui-dropdown-invalid {
    border-color: #E1A1A1 !important;
    background-color: #FFF3F3 !important
}

.ui-dropdown-invalid select {
    background-color: #FFF3F3 !important
}

.ui-disabled select {
    background-color: #F0F0F0;
    cursor: not-allowed;
    color: #A0A0A0
}

.ui-disabled .ui-dropdown {
    background-color: #F0F0F0;
    cursor: not-allowed
}

.ui-disabled .ui-dropdown .fa {
    color: #A0A0A0
}

.list-group-item.disabled {
    background: #e91e63;
    color: #fff;
}